<!-- HEADER -->
<%- include('partials/head'); %>

<!-- NAVIGATION -->
<%- include('partials/nav'); %>

<section class="hero is-fullheight">
  <div class="hero-body">
    <div>
      <p class="title is-1">BIG BOLD STATEMENT</p>
      <p class="subtitle is-3 is-uppercase">YOUR CALL TO ACTION</p>
    </div>
  </div>
</section>

<section class="section pt-0 pb-5">
  <h1 class="title mb-0 ml-4">T-shirts for Men</h1>
  <div class="is-flex is-flex-wrap-wrap" id="shop-content-1">
    <% for (const [i, product] of camxts.entries()) { %>
    <a href="/shop/<%= product.href %>" class="card card-sm">
      <div class="card-image">
        <figure class="image is-4by3">
          <img
            src="<%= imgUrl %>/276x207/<%= product.image[0] %>"
            alt="<%= product.image[1] %>"
            width="276"
            height="207"
          />
        </figure>
      </div>
      <div class="card-content px-1">
        <div class="media">
          <div class="media-content ">
            <p class="title is-5"><%= product.title %></p>
            <p class="ml-3 subtitle is-5 currency has-text-weight-bold has-text-grey"><%= product.price %></p>
          </div>
        </div>
      </div>
    </a>
    <% } %>
  </div>
</section>

<section class="section pt-0 pb-5">
  <h1 class="title mb-0 ml-4">T-shirts for Women</h1>
  <div class="is-flex is-flex-wrap-wrap" id="shop-content-2">
    <% for (const [i, product] of cawxts.entries()) { %>
    <a href="/shop/<%= product.href %>" class="card card-sm">
      <div class="card-image">
        <figure class="image is-4by3">
          <img
            src="<%= imgUrl %>/276x207/<%= product.image[0] %>"
            alt="<%= product.image[1] %>"
            width="276"
            height="207"
          />
        </figure>
      </div>
      <div class="card-content px-1">
        <div class="media">
          <div class="media-content ">
            <p class="title is-5"><%= product.title %></p>
            <p class="ml-3 subtitle is-5 currency has-text-weight-bold has-text-grey"><%= product.price %></p>
          </div>
        </div>
      </div>
    </a>
    <% } %>
  </div>
</section>

<section class="section pt-0 pb-5">
  <h1 class="title mb-0 ml-4">Fitness accessories</h1>
  <div class="is-flex is-flex-wrap-wrap" id="shop-content-3">
    <% for (const [i, product] of efac.entries()) { %>
    <a href="/shop/<%= product.href %>" class="card card-sm">
      <div class="card-image">
        <figure class="image is-4by3">
          <img
            src="<%= imgUrl %>/276x207/<%= product.image[0] %>"
            alt="<%= product.image[1] %>"
            width="276"
            height="207"
          />
        </figure>
      </div>
      <div class="card-content px-1">
        <div class="media">
          <div class="media-content ">
            <p class="title is-5"><%= product.title %></p>
            <p class="ml-3 subtitle is-5 currency has-text-weight-bold has-text-grey"><%= product.price %></p>
          </div>
        </div>
      </div>
    </a>
    <% } %>
  </div>
</section>

<section class="section pt-0 pb-5">
  <h1 class="title mb-0 ml-4">Latest Blog Posts</h1>
  <div id="blog-content">
    <% for (const post of posts) { %>
    <a href="/blog/<%= post.href %>" class="box is-clearfix">
      <h1 class="title"><%= post.title %></h1>
      <h2 class="subtitle"><%= post.description %></h1>
      <p class="is-6 has-text-grey">By <%= post.author %></p>
      <time class="is-6 has-text-grey is-pulled-right" datetime="<%= post.mod_dt.toJSON() %>"><%= post.mod_dt.toDateString() %></time>
      <div class="tags">
        <% for (const tag of post.tags) { %>
        <span class="tag is-dark"><%= tag %></span>
        <% } %>
      </div>
    </a>
    <% } %>
  </div>
</section>

<!-- FOOTER -->
<%- include('partials/footer'); %>
